<a href="https://colab.research.google.com/github/Kushagratandon12/Data-Structues-Algo/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import random as r
r.random()
r.randint(1,20)

15

In [0]:
t=[10,15,20,25,30]
print(t)
print(max(t))
print(min(t))
print(r.choice(t))

[10, 15, 20, 25, 30]
30
10
25

In [0]:
import math as m
m.sin(60*m.pi/180)
m.sin(90)
m.asin(.5)

0.5235987755982989

In [0]:
def sum2(a,b):
  print(a+b)
a=30
b=40
sum2(a,b)
print(sum2)
print(type(sum2))
print(print)
type(print)
print(type)

70
<function sum2 at 0x7f8d885ac158>
<class 'function'>
<built-in function print>
<class 'type'>

In [0]:
def Myfucn(a,b):
  print("Kushagra Tandon")
  print(a,b)

x=110
y=14
Myfucn(x,y)

Kushagra Tandon
110 14

In [0]:
def result(a,b,c):
  if(a<(a*30/100) or b<(b*30/100) or c<(c*30/100)):
    return 0
  else:
    return 1

a=result(10,10,10)
if(a==1):
  print("Passed")
else:
  print("FaFaiFaFail")

In [0]:
i =1
x=int(input())
while(i<=20):
  print(x,'x' , i ,'=',x*i)
  i=i+1

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180

In [0]:
h=21%4
print(h)

In [0]:
while True:
  line=input(" Enter a string ")
  if line=="done":
    break
  print(line)

Enter a stringKushagra
Kushagra
Enter a stringDone
Done
Enter a stringdone

In [0]:
while True:
  line=input('>')
  if line[0] =='#':
    continue
  elif line=='done':
    break
  else:
    print(line)

>#
>Kush
Kush
>Hello
Hello
>Hi
Hi
>#hi
>#welcoke
>Don3
Don3
>done

In [0]:
for i in ['Kushagra','samarth']:
  print("welcome",i)

welcome Kushagra
welcome samarth

In [0]:
for i in [10,20,30,40,50]:
  print(i,end='\t')

10	20	30	40	50

In [0]:
a=[10,20,30,40,50,3]
for i in a:
  print(i)

10
20
30
40
50
3

In [0]:
a='kushagra'
c=a.split()
print(c)
name='Kushagra'
for everychar in name:
  print(everychar)

['kushagra']
K
u
s
h
a
g
r
a

In [0]:
for num in range(1,10,1):
  print(num)
print('space')
for i in range(10):
  print(i)
print('space')
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9
space
0
1
2
3
4
5
6
7
8
9
space
1
2
3
4
5
6
7
8
9

In [0]:
for i in range(len( name)):
  print(name[i])

K
u
s
h
a
g
r
a

In [0]:
a=[10,30,50,60,70]
for i in range(len(a)):
  print(max(a))
  break

70

In [0]:
vowels =0
consonant=0
b='Schwarzenegger'
for ch in b:
  if ch =='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
    vowels+=1
  else:
    consonant+=1
print(vowels)
print(consonant)

4
10

In [0]:
sum1=0
for i in range(0,51,2):
  sum1=sum1+i
print( sum1)

650

In [0]:
greet='Hello WWorld'
greet.split()
for i in range(0,len(greet)):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [8]:
s='Hello World' 
print(s[10])
print(s[9])
for i in s:
  print(i,end='\t')

d
l
H	e	l	l	o	 	W	o	r	l	d

In [10]:
i=0;
while(i<len(s)):
  print(s[i],end='')
  i+=1

Hello World

In [20]:
print(s[0:5:1])
print(s[1:4])
print(s[2:7])
print('space')
print(s[-1:1])
print(s[::-1])

Hello
ell
llo W
space

dlroW olleH

In [33]:
st='madam'
rev=st[::-1]
if st == rev:
  print('Palindrom')
else:
  print('not')

Palindrom

In [43]:
s='Kushagra'
c=s.split()
c.append(' Tandon ')
print(c)
ch=''.join(c)
print(ch)

['Kushagra', ' Tandon ']
Kushagra Tandon